button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.body {
    background-color: #ddf;
}
.custom-box-shadow {
    box-shadow: 0 10px 0 0 #000000, 0 15px 0 0 #ffffff;
    transform: translateY(0);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.custom-box-shadow-active {
    box-shadow: 0 0px 0 0 #000000, 0 0px 0 0 #ffffff;
    transform: translateY(10px);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.custom-box-shadow {
    box-shadow: 0 10px 0 0 #000000, 0 15px 0 0 #ffffff;
}
.custom-box-shadow-active {
    box-shadow: 0 0px 0 0 #000000, 0 0px 0 0 #ffffff;
}
.custom-box-shadow:focus {
    box-shadow: 0 10px 0 0 #000000, 0 15px 0 0 #ffffff;
}

.error {
    background-color: #EF4444 !important; 
    box-shadow: 0 10px 0 0 #B91C1C, 0 15px 0 0 #ffffff !important;
    pointer-events: none;
}

.error:active {
    transform: translateY(10px);
    transition: box-shadow 0.2s ease, transform 0.2s ease, color 0.2s ease;
}

.error .icon {
    filter: grayscale(100%);
}

.grid-container {
    margin-top:20px;
    margin-left:235px;
    width: 605px;
    padding: 0px;
}

.grid-container-ready {
    background-color: #6ded8a;
}

.grid-container-moving {
    background-color: #ffee99;
}

.grid-container-error {
    background-color: #aa0000;
}

.grid-table {
    border: 4px solid;
}

.grid-quad {
    width: 155px;
    height: 155px;
    background-image: url('images/8bit-ball.png');
    //background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}

.grid-claw {
    background-image: url('images/robot-claw.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
}
.grid-arrow {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.grid-arrow-right {
    width:80px;
    margin: -20px;
    background-image: url('images/chevron-right-svgrepo-com.svg');
    //background-position-y: 200px;
}

.grid-arrow-left {
    width:80px;
    margin: -20px;
    background-image: url('images/chevron-left-svgrepo-com.svg');
    //background-position-y: 200px;
}

.grid-arrow-up {
    background-image: url('images/chevron-up-svgrepo-com.svg');
    //background-position-x: 265px;
    margin: -5px;
    height: 80px
}

.grid-arrow-down {
    background-image: url('images/chevron-down-svgrepo-com.svg');
    //background-position-x: 265px;
    margin: -5px;
    height: 80px
}

.grid-avatar {
    margin-top: 10px;
    margin-right: 6px;
    margin-left:240px;
    width:100px;
}

.grid-drop {
    background: #999;
}

.animate-right {
    float:right;
    margin-top:-460px;
    margin-right:100px;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    image-rendering: pixelated;
}

.animate-left {
    float:left;
    margin-top:300px;
    margin-left:80px;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    image-rendering: pixelated;
}